
<div id="nav" class="grid grid-cols-3 border-b p-2">
    
    <div class="flex justify-end items-center">
        <p class="text-2xl">Tue 03 Dec</p>
    </div>

    <div class="flex justify-center items-center">
        <img src="../Assets/logo.svg" class="w-[100px] h-[100px]" alt="Logo">
    </div>

    <div class="flex justify-start items-center">
        <p class="text-2xl">21:24</p>
    </div>
</div>