
<div id="nav" class="grid grid-cols-3">

    <div class="flex justify-center items-center">
        <!-- <img src="../Assets/logo.svg" class="w-[80px] h-[80px]" alt="Logo"> -->
    </div>

    <div class="flex justify-center items-center">
        <img src="../Assets/logo.svg" class="w-[60px] h-[60px]" alt="Logo">
    </div>

    <div id="dateDisplay" class="flex items-center justify-evenly font-bold">
        <p class="">Loading time...</p>
        <p class="">Loading date...</p>
    </div>
</div>