
<div id="nav" class="grid grid-cols-3 border-b p-2">
    <div class="text-center p-2 m-1"></div>
    <div class="text-center p-2 m-1 font-bold text-2xl">Echo</div>
    <div class="text-center p-2 m-1"></div>
</div>