
<div id="nav" class="grid grid-cols-3 mb-4 bg-white">

    <div class="flex items-center justify-center px-2 py-4">
        <img src="../Assets/logo.svg" class="w-[60px] h-[60px]" alt="Logo">
    </div>

    <div class="flex justify-center items-center">
    </div>

    <div id="dateDisplay" class="flex items-center justify-evenly font-bold hidden sm:flex">
        <p class="text-2xl">Loading time...</p>
        <p class="text-2xl">Loading date...</p>
    </div>
</div>