
<form class="border col-span-1 formHead items-center hidden sm:block" action="/addNote" method="POST" id="noteEntry">

    <div class="border grid grid-cols-3 bg-gray-800 gap-2 p-2 rounded-lg">
        
        <input name="title" id="title-entry-field" type="text" class="col-span-1 grid-cols-1 rounded-sm text-centered hidden font-bold pl-4" placeholder="Note title">

        <input name="note" id="note-entry-field" type="text" class="col-span-1 grid-cols-1 rounded-sm text-centered hidden font-bold pl-4" placeholder="Note" required>
    
    
      <!-- Add a Note -->
        <div class=" w-full col-span-1 flex items-center justify-start gap-2">
            <button class="openNoteModalBtn px-1 py-1" title="Edit">
                <img src="../Assets/plus (1).svg" class="w-6 h-6" alt="Add Button">
            </button>
        </div>
    </div>
</form>


<!-- Convert to modal for mobile ----------------------------------------------------------------------->

<!-- TODO:  Button opens Modal in mobile view-->
<div class="py-2 rounded-full block lg:hidden text-center flex justify-center items-center" title="Edit">

    <div class="noteModalBtn flex items-center rounded-3xl">
        <img src="../Assets/plus (2).svg" class="w-4 h-4 m-2" alt="Add note">
        <label for="">Add Note</label>
    </div>
</div>


<dialog class="noteEntryModal">
    <form class="formHead justify-center items-center" action="/addNote" method="POST" id="noteEntryModal">

        <div class="flex flex-col justify-between items-center w-full max-w-md mx-auto p-4">

            <!-- note Input -->
            <div class="w-full text-xs">
                <label for="title" class="block font-bold mb-1">Title</label>
                <input
                    name="title"
                    type="text"
                    class="border w-full p-2 mb-2 rounded">

                <label for="note" class="block font-bold mb-1">Note</label>
                <input
                    name="note" 
                    type="text" 
                    class="p-2 rounded w-[300px]" 
                    placeholder="Enter a note item" required>
            </div>                

        
            <!-- Action Buttons -->
            <div class="p-2 w-full flex justify-end">
                <button class="px-4 py-2 text-white rounded" title="Note Modal">
                    <img src="../Assets/pplus.svg" class="w-6 h-6" alt="Plus button">
                    add note
                </button>
            </div>
        </div>
        
    </form>
</dialog>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const noteEntryModal = document.querySelector('.noteEntryModal');
        const openNoteModalBtn = document.querySelector('.openNoteModalBtn');
        const noteModalBtn = document.querySelector('.noteModalBtn')

        // Open the modal on button click
        openNoteModalBtn.addEventListener('click', function() {
            noteEntryModal.showModal();  // open modal
        });

        noteModalBtn.addEventListener('click', function() {
            noteEntryModal.showModal();  // open modal
        });

        

        // Close the modal when clicking outside of it
        noteEntryModal.addEventListener('click', function(event) {
            if (event.target === noteEntryModal) {
                noteEntryModal.close();  // close modal
            }
        });

    });

    




</script>