<form class="formHead" action="/addTask" method="POST" id="taskEntry">

    <div class="border bg-slate-200 grid grid-cols-12 gap-0 p-2 mb-2 rounded-lg">
        <!-- Task Input -->
        <input name="task" id="task-entry-field" type="text" class="col-span-6 rounded-sm text-centered font-bold pl-4" placeholder="Enter a task item">
    
        <!-- Priority Dropdown -->
        <select name="priority" id="priority" class="col-span-1 border-none font-bold text-center rounded-sm">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
    
        <!-- Date Input -->
        <input name="dueDate" id="date-input" type="date" class="col-span-2 border-none font-bold text-center rounded-sm" >
    
        <!-- Category Dropdown -->
        <select name="category" id="category" class="col-span-1 border-none font-bold text-center rounded-sm">
            <option value="Daily">Daily</option>
            <option value="Task">Task</option>
            <option value="Project">Project</option>
        </select>
    
        <!-- Status Dropdown -->
        <select name="difficulty" id="difficulty" class="col-span-1 border-none font-bold text-center rounded-sm" >
            <option value="Easy">Easy</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Difficult">Difficult</option>
        </select>
    
        <!-- Action Buttons -->
        <div class="col-span-1 flex items-center justify-center gap-2">
            <button class="px-1 py-1" title="Favorites">
                <!-- <img src="../Assets/star.png" class="w-4 h-4" alt="Cancel Button"> -->
            </button>
            <button class="px-1 py-1" title="Edit">
                <img src="../Assets/pplus.svg" class="w-6 h-6" alt="Cancel Button">
            </button>
            <button class="px-1 py-1" title="Delete">
                <!-- <img src="../Assets/cancel.png" class="w-4 h-4" alt="Cancel Button"> -->
            </button>
        </div>
    </div>
</form>