<%- include('partials/header') %>

<body class="flex justify-center items-center">

    <div class="flex text-center p-12">
        <p class="font-bold text-6xl">404 :( </p>        
        <P class="font-bold text-6xl">You're in the wrong place.</P>

    </div>



    
</body>
</html>