<%- include('partials/header') %>

<body>
    <%- include('partials/nav') %> 
        <div class="wrapper p-2">


<!--------------------------------- -->
            <%- include('sections/addTask.ejs') %>

            <%- include('sections/listTasks.ejs') %>

        




        </div>


    
</body>
</html>